{% extends 'layout.html' %}
{% load static %}

{% block content %}

<section id="home">
    <div class="bg-home">
        <div class="bg-overlay">
            {% include '$navbar.html' %}
            <div class="container h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="caption">
                        <div class="logo">
                            <img src="{% static 'img/logo2.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="caption-footer text-center">
                            <a href="https://pruebasmasvida.com/" class="text-white-50">www.pruebasmasvida.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

<section id="about-us">
    <div class="container-fluid">
        <div class="info-about justify-content-center text-center">
            <h2 class="mb-5">NOSOTROS</h2>
            <p>
            Somos una empresa comercializadora especializada en la distribución de Test Rápidos y Test PCR. Están Certificados por las entidades gubernamentales en Colombia (INVIMA, INSTITUTO NACIONAL DE SALUD) y validados por la Comunidad Económica Europea
            Contamos con alianzas estratégicas con IPS, EPS y laboratorios clínicos aprobados por el gobierno colombiano para la toma, procesamiento y análisis de pruebas Rápidas y PCR. 
            Basados en nuestra experiencia realizamos servicios para programar tamizaje en empresas a lo largo de toda Colombia. Ofrecemos soluciones para empresas de vigilancia epidemiológica y mucho más.
            </p>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container h-100">
        <h2 class="text-center">CONTACTA CON NOSOTROS</h2>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <form action="{% url 'sendEmail' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Nombre y Apellido:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Edad</label>
                                <input type="text" id="age" name="age" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Ciudad</label>
                                <input type="text" id="city" name="city" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Barrio</label>
                                <input type="text" id="neighborhood" name="neighborhood" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Teléfono</label>
                                <input type="text" id="phone" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Mensaje</label>
                        <textarea class="form-control" name="message" id="message" cols="30" rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary btn-lg">Envíar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="offices">
    <div class="fixed-background">
        <div class="container-fluid">
            <div class="row dark text-center justify-content-center">
            <div class="col-12">
                <h3 class="heading heading-resources mb-5">NUESTRAS OFICINAS</h3>
            </div>
            <div class="col-md-4 resource-animation-1">
                <h3>DIRECCIÓN</h3>
                <div class="location">
                    <i class="fas fa-map-marker fa-4x mt-4"></i>
                    <p class="lead mt-5">Calle 129B #° 54-20</p>
                </div>
            </div>
            <div class="col-md-4 resource-animation-2">
                <h3>TELÉFONOS</h3>
                <div class="phones">
                    <i class="fab fa-whatsapp fa-4x mt-4"></i>
                    <div class="tel-1 mt-5 mb-2">
                        <a href="tel:+57(310)2308432" class="lead">+57(310)2308432</a>
                    </div>
                    <div class="tel-1">
                        <a href="tel:+57(318)2854232" class="lead">+57(318)2854232</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 resource-animation-3 mt-md-0 mt-4">
                <h3>EMAILS</h3>
                <div class="emails">
                    <i class="fas fa-envelope fa-4x mt-4"></i>
                    <p href="mailto:gerencia@pruebasmasvida.com" class="lead mt-5">gerencia@pruebasmasvida.com</p>
                    <p href="mailto:comercial@pruebasmasvida.com" class="lead">comercial@pruebasmasvida.com</p>
                </div>
            </div>
        </div> <!-- End dark -->
        </div>
            <div class="fixed-wrap">
                <div class="fixed">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}